

@font-face {
    font-family: roya;
    src: local("font/BRoya.ttf");
}

*{
    direction: rtl;
    font-family: roya;
}
#login{
    border-radius: 25px;
    border-color: #fccbd0;
    background-color: #f85365
}
#image-container{
    padding-right: 10%;
}
#email-input{
    border: none;
    border-radius: 25px;
    /*border-top-left-radius:;*/
}
a{
    text-decoration: none;
}
#person-logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.social-info{
    font-size: 14px;
}
.left-element{
    position: absolute;
    left: 10%;
}
.card-sub{
    text-align: center;
    color: #f85365;
    padding-bottom: 20%;

}
.info{
    padding-bottom: 30px;
}
.card-container{
    width: 18rem;
    border-radius: 10px;
    background-image: url("../images/w-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.price-btn{
    width: 95%;
}
.person-info{
    padding-right: 3%;
}